html {
    overflow: hidden;
}
body {
    font-family: "pretendard";
    background: #F5F6F7;
}
.wrap {
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}
.top {
    align-items: flex-start;
}
.top .wrap .lbox {
    padding: 80px 40px 140px 40px;
    width: 50%;
    height: 178px;
    background: #085F9A;
    border-radius: 32px;
    color: #ECF3FF;
}
.top .wrap .lbox article h3 {
    display: inline;
    font-size: 18px;
    margin-left: 5px;
}
.top .wrap .lbox article p {
    margin-top: 8px;
    font-size: 18px;
}
.top .wrap .lbox article strong {
    font-size: 128px;
    font-weight: 800;
    margin-top: 8px;
}
.top .wrap .lbox article > span {
    position: relative;
    width: 116.95px;
    height: 38px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 32px;
}
.top .wrap .lbox article span p {
    font-size: 14px;
    font-weight: 500;
    margin-left: 8px;
    height: 1.7em;
    margin-left: 50px;
}
.top .wrap .lbox article span img {
    height: 22px;
    position: absolute;
    margin-left: 20px;
}
.top .wrap .lbox article span + em {
    font-style: normal;
    font-family: "Suit";
    margin-top: 10px;
    display: block;
}

.top .wrap .lbox > img {
    margin-right: 120px;
}
.top .wrap .rbox {
    width: 40%;
}
.top .wrap .rbox > div {
    width: 100%;
    height: 188px;
    border-radius: 32px;
    background: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.top .wrap .rbox > div:last-child {
    margin-top: 24px;
}.top .wrap .rbox > div article {
    margin: 32px 0 0 32px;
}
.top .wrap .rbox > div article span {
    font-size: 12px;
    color: #595C5D;
    font-weight: 800;
}
.top .wrap .rbox > div article p {
    color: #2C2F30;
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
}
.top .wrap .rbox > div article h3 {
    color: #2C2F30;
    font-size: 48px;
    font-weight: 700;
    margin-top: 24px;
    display: inline-block;
}
.top .wrap .rbox > div article em {
    font-style: normal;
    margin-left: 6px;
    color: #595C5D;
    font-weight: 600;
}
.top .wrap .rbox > div .i {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    margin-right: 32px;
}
.top .wrap .rbox > div .i figure {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background: #86cfff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.top .wrap .rbox > div .i span {
    height: 24px;
    width: 90px;
    background: #085F9A;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    margin-bottom: 32px;
}
.top .wrap .rbox > div:last-child .i span {
    background: #E8732A;
}

.mid {
    margin-top: 80px;
}

.mid .wrap ul li {
    width: 16%;
    height: 126px;
    border-radius: 24px;
    background: #E6E8EA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.mid .wrap ul li img {
    margin-top: 24px;
}
.mid .wrap ul li p {
    font-size: 20px;
    font-weight: 700;
    color: #595C5D; 
}
.mid .wrap ul li span {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #2C2F30;
}

.bot .wrap {
    background: #006094;
    height: 380px;
    border-radius: 40px;
    margin-top: 90px;
    padding: 30px 0px 34px 0px;
}
.bot .wrap h4 {
    font-size: 30px;
    color: #EBF3FF;
    font-weight: 700;
    margin-left: 20px;
}
.bot .wrap ul {
    margin-top: 40px;
    width: 100%;
}
.bot .wrap ul li {
    width: 16%;
    height: 168px;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    color: #EBF3FF;
    margin: 0 1%;
}
.bot .wrap ul li p {
    font-size: 18px;
    font-weight: 600;
}
.bot .wrap ul li img {
    width: 44px;
}
.bot .wrap ul li strong {
    font-size: 24px;
}