@media (max-width: 767px) {
  html {
    font-size: 43.75%; /* 7px */
  }  
section > .wrap {
    height: 96vh;
  }


  header {
    margin-top: 2rem;
  }

  header .wrap h1 {
    font-size: 3vh;
  }

  header .wrap h1 + div {
    font-size: 1.6vh;
  }

  section .wrap .top {
    gap: 1rem;
    display: block;
  }

  section .wrap .top .lbox img {
    height: 10vh;
    margin-right: 1rem;
  }

  section .wrap .top .lbox article h3 {
    font-size: 7vh;
  }

  section .wrap .top .lbox article p {
    font-size: 1.8vh;
  }

  section .wrap .top .rbox {
    width: 100%;
    height: auto;
  }
 section .wrap .mid {
    text-align: center;
 }
  section .wrap .mid ul {
    flex-wrap: wrap;
  }

  section .wrap .mid ul li {
    width: 28%;
    padding: 0.8rem;
    margin-top: 10px;
  }

  section .wrap .mid ul li span {
    font-size: 1.4vh;
  }

  section .wrap .mid ul li p {
    font-size: 2vh;
  }

  section .wrap .bot ul {
    flex-wrap: nowrap;
  }


  section .wrap .bot ul li p {
    font-size: 1.2rem;
  }

  section .wrap .bot ul li strong {
    font-size: 2vh;
  }

  section .wrap .bot ul li span {
    font-size: 1.2vh;
  }

  section .wrap .bot ul li img {
    width: 3.5vh;
  }
}