@media (max-width: 1200px) {
  html {
    font-size: 60.25%; /* 9px */
  }
  section > .wrap {
    height: 92vh;
    max-width: 92vw;
  }

  .top { flex: 0 0 36%; }
  .mid { flex: 0 0 28%; }
  .bot { flex: 0 0 36%; }

  section .wrap .top .lbox article h3 {
    font-size: 12vh;
  }

  .weather-icon-large {
    height: 14vh;
  }

  section .wrap .mid ul li {
    padding: 0.5rem;
  }


}