@media (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 56%; /* 8px */
  }
  section > .wrap {
    height: 94vh;
  }

  .top { flex: 0 0 38%; }
  .mid { flex: 0 0 27%; }
  .bot { flex: 0 0 35%; }

  section .wrap .top .lbox {
    gap: 2rem;
  }

  section .wrap .top .lbox img {
    height: 12vh;
    margin-right: 2rem;
  }

  section .wrap .top .lbox article h3 {
    font-size: 9vh;
  }

  section .wrap .top .rbox {
    width: 32rem;
    height: auto;
  }

  section .wrap .mid ul {
    flex-wrap: wrap;
  }

  section .wrap .mid ul li {
    text-align: center;
  }

  section .wrap .bot ul {
    flex-wrap: nowrap;
  }



  section .wrap .bot ul li img {
    width: 4vh;
  }
}